
body{
  background-color: #e7dec8;
}

.App {
  min-height:200px;
  width: 400px;
  margin: 43px auto;
}


.App header h1 {
  color: #fe7171;
  text-align: center;
}

.todo-form input {
  background-color: #f4f4f4;
  border: 0px;
  width: 150px;
  height: 50px;
  margin: 30px;
  padding: 0 50px;
  font-size: 18px;
  justify-content: center;
  border-radius: 10px;
}

.todo-form input:focus {
  outline: none;
}

.todo-form button {
  height: 42px;
  width: 70px;
  padding: 0px;
  border-radius: 5px;
  background-color: burlywood;
  cursor: pointer;
  border: 0;
}

.todo-form button:focus{
  outline:none;
}


@media only screen and (max-width: 600px) {
  .todo-form input {
    margin-right: 10px;
  }

  
}











